.box {
  width: 400px;
  height: 200px;
  max-width: 100%;
  background: var(--bg2);
  margin: 1rem auto;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  color: white;
}

.box-1 {
  border: 10px solid;
  border-image: linear-gradient(45deg, rgb(0, 143, 104), rgb(250, 224, 66)) 1;
}

body {
  background-color: #111;
}
